<button id="create_btn" class="btn btn-success" onclick="window.location.href='/albums/new'">Create New Album</button>
{{#each albums}}
	<div class="album_tiles">
		<img class='cover_photos' src="{{image}}">
		<ul>
		  <li ><strong>Album:</strong> {{name}}</li>
			<li ><strong>Artist:</strong> {{artist}}</li>
			<li ><strong>Released:</strong> {{release_date}}</li>
			<li ><strong>Genre:</strong> {{genre}}</li>
		<form method="POST" action="/albums?_method=DELETE">
		  <button type="submit">Delete Album</button>
		</form>
		<form method="POST" action="/albums?_method=PUT">
			<button type="submit">Edit Album</button>
		</form>
		</ul>
	</div>
{{/each}}

<br><br><br><br>
