<ul>
{{#each albums}}
  <li class="albums">
    <!-- <a class="album-title" href="/albums/{{_id}}">{{title}}:</a> -->
    <li >{{image}}</li>
    <li >{{name}}</li>
	<li >{{artist}}</li>
	<li >{{release_date}}</li>
	<li >{{genre}}</li>
  </li>
{{/each}}
</ul>