<ul class="albums">
{{#each albums}}
    <!-- <a class="album-title" href="/albums/{{_id}}">{{title}}:</a> -->
  <li >{{image}}</li>
  <li >{{name}}</li>
	<li >{{artist}}</li>
	<li >{{release_date}}</li>
	<li >{{genre}}</li>
	<br>
{{/each}}
</ul>

  {{!-- <form onsubmit="searchAlbums"> --}}
  <form>
    <div class='form-group'>
      <input type="text" name="album[image]" placeholder="Title" class="form-control" id="search-input" >
    </div>       
    <div class='form-group'>
    {{!--  --}}
      <input type="submit" value='Search for Albums' class="btn btn-default" id="search-bar-btn">
    </div>
  </form>

{{!-- 
{{ link_to('Add a New Quote', '/albums/new') }} --}}


