  <div class="album_tiles">

    <img class='cover_photos' src="{{album.image}}">
    <ul>
      <li ><strong>Album:</strong> {{album.name}}</li>
      <li ><strong>Artist:</strong> {{album.artist}}</li>
      <li ><strong>Released:</strong> {{album.release_date}}</li>
      <li ><strong>Genre:</strong> {{album.genre}}</li>
    <form method="POST" action="/albums?_method=DELETE">
      <button type="submit">Delete Album</button>
    </form>
    <form method="POST" action="/albums?_method=PUT">
      <button type="submit">Edit Album</button>
    </form>
    </ul>
  </div>